.food__category {
    background: #df2020;
    text-align: center;
    margin: 30px 0px;
    padding: 20px 0px;
    border-radius: 8px;
}

.popular {
    margin-top: 130px;
}

.food__category button {
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    color: #fff;
}

.food__category button img {
    width: 20px;
    height: 20px;
}

.foodBtnActive  {
    background: #fff !important;
    border-radius: 5px;
    color: #df2020 !important;
}

.add__section {
    background: green !important;
    border-radius: 5px;
    color: white !important;
}

.alter__buttons {
    display: none;
}

.update__button {
    background: #007bff !important;
    color: white !important;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.delete__button {
    background: #df2020 !important;
    color: white !important;
    border: none;
    border-radius: 5px;
    padding: 10px;
}